@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply
      pt-2 pb-1;
  }

  .text-input {
    @apply
      rounded-md
      w-full
      py-2 px-4
      border-grey-100
      border-2
      outline-none
      ring-grey-300
      ring-offset-2
      focus-within:ring;
  }
  .text-input input {
    @apply outline-none;
  }

  .inline-wrapper {
    @apply
      my-2
      gap-2
      flex flex-row items-center;
  }

  .inline-wrapper label {
    @apply
      whitespace-nowrap
      w-min;
  }

  .inline-wrapper .form-label {
    @apply
      pt-0 pb-0
  }

  .checkbox-input {
    @apply
      mr-2
      border-2
      border-grey-200
      rounded-sm
      w-5
      h-5
      m-0
      appearance-none
      bg-[#ffffff]
      grid
      place-content-center
      cursor-pointer;

    transform: translateY(-0.075em);
  }
  .checkbox-input::before {
    content: "";
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    @apply
      w-2.5
      h-2.5
      shadow-[inset_1em_1em]
      shadow-primary
      cursor-pointer;
  }
  .checkbox-input:checked::before {
    transform: scale(1);
  }
}
