@tailwind components;
@tailwind utilities;

@layer components {
  .menu-wrapper {
    @apply
      relative
      inline-block
  }
  .menu-button {
    @apply
      py-1 px-2
      sm:py-2 sm:px-4
      bg-primary hover:bg-primary-h
      focus:ring
      rounded-md
      drop-shadow-sm
      text-white
      text-sm
      sm:text-base
  }

  .menu-dropdown {
    @apply
      py-2
      mt-2
      bg-grey-50
      rounded-md
      drop-shadow-sm
      min-w-full
      focus:outline-none
      divide-y
      divide-grey-200
      absolute
      right-0
      origin-top-right
  }

  .menu-item-section {
    @apply
      py-2
      min-w-full
      flex
      flex-col
  }

  .menu-item-margin {
    @apply
    my-1 mx-4
    sm:my-2 sm:mx-4
  }
  .menu-item-padding {
    @apply
      py-1 px-4
      sm:py-2 sm:px-4
  }

  .menu-item {
    @apply
      text-left
      menu-item-padding
      hover:bg-grey-100 active:bg-grey-200
      cursor-pointer
      min-w-max
      text-sm
      sm:text-base
  }

  .menu-item-active {
    @apply
      bg-grey-200
  }
}
